/*http://www.internetkultur.at/simple-hamburger-drop-down-menu-with-css-and-jquery/*/

.mobile-nav {
    margin: 25px 0 20px;
}

.menu-btn div {
    position: absolute;
    left: 100%;
    top: 45%;
    padding-right: 8px;
    margin-top: -0.50em;
    line-height: 1.2;
    font: 200 18px;
    vertical-align: middle;
    z-index: 99;
}

.menu-btn span {
    display: block;
    width: 19px;
    height: 5px;
    margin: 2px 10px;
    background: rgb(0, 0, 0);
    z-index: 99;
    padding-top: 4px;
}

.responsive-menu {
    display: none;
}

.expand {
    display: block !important;
}